html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
}
/*/////////////////
NAV BAR
////////////////*/
nav{
    margin-top:20px;
    color:transparent;
}
.mainMenu>ul>li{
    list-style-type: none;
    padding: 0 10px;
    font-family: "Open Sans";  
    color:white;
    font-size:20px;
}
.closeMenu, .openMenu{
    display:none;
}
.mainMenu{
    display:block;
}
.mainMenu>ul{
    display: flex;
    justify-content: center;
    padding-left:0;
    border-bottom:rgb(255, 213, 61) solid 5px;
    height:auto;
}
a:link{
    text-decoration: none;
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    color:rgb(255, 213, 61);
}
    @media screen and (max-width: 525px){
         nav{
            position: fixed;
            width: 100%; 
            margin:0;
            background:rgb(255, 213, 61);
            height:40px;
            text-align: center;
        } 
        .mainMenu>ul{
            display: flex;
            flex-direction: column;
            width:100%;
            text-align: center;
        }
        .mainMenu{
            max-height:300px;
            position:absolute;
            display:flex;
            justify-content: space-around;
            background:rgb(255, 213, 61);
            width:100%;
            display:none;
        }
        .closeMenu{
            display: block;
        }
        .openMenu{
            display: block;
            position:absolute;
            right: 30px;
            margin-top: 10px;
            text-align: center;
            width:50px;
            height:auto;
        }
    }

/*/////////////////
MAIN
//////////////*/


.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:600px;
    background:
    linear-gradient(to bottom, rgba(64,176,233, 0.80), rgba(0,103,179, .80) 90%),
    url("patio4.png");
    background-size: cover;
} 
.main-section>div{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin-top:5%;
}
h1{
    font-size: 60px;
    font-family:"Merriweather";
    font-weight:300px;
    padding-top:100px;
    color:white;
    animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.main-section>div>span{
    font-size:18px;
    font-family: "Open Sans";
    margin-top: 2%;
}
@media screen and (max-width: 350px){
    h1{
        font-size: 2em;
        text-align: center;
        margin-top: 20%;
    }
    .main-section>div>span{
        text-align: center;
        font-size: 1em;
        margin: 5px 30px;
        width:auto;
    }
}
    @media (min-width:350px) and (max-width: 480px){
        .main-section{
            height:470px;
        }
        h1{
            font-size: 2.7em;
            margin: 0 15px;
            text-align: center;
        }    
        .main-section>div>span{
            text-align: center;
            margin: 5px 50px;
            font-size: .9em;
        }

    }
        @media (min-width:480px) and (max-width: 720px){
            h1{
                text-align: center;
            }
        }
            @media (min-width:720px) and (max-width: 890px){
                h1{
                    font-size: 3em;
                }
        }
        

/*////////////////////
SECTION 2
////////////////////*/
.section2{
    height:600px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.section2>div{
    display:flex;
    align-items: center;
    height:50%;
    width:auto;
    margin: 50px 5% 0 5%;
    background:rgb(64,176,233);
    font-family: "Open Sans";
}
.S2word{
    width:80%;
    color:white;
    margin:0 15%;
    text-align: center;
}


    @media screen and (max-width: 640px){
        .section2{
            height:auto;
            width:auto;
        }
        .section2>div{
            display:flex;
            flex-direction: column;
            height:500px;
            height:auto;
            padding:0;
        }
        .section2>div>div{
            width:auto;
            padding: 0 60px;
        }
        .S2image{
            height:150px;
            text-align: center;
        }
        .S2word{
            height:auto;
            font-size: .8em;
            text-align: center;
            margin: 10px 0 15px 0;
        }
    }
        @media screen and (max-width: 860px){
            .section2{
                height:550px
            }
            .S2word{
                font-size: .9em;
            }
        }
        @media screen and (max-width: 480px){
            .S2word{
                margin:1% 3% 1% 3%;
                padding:0;
                display:flex;
                flex-direction: row;
                text-align: center;
            }
            .section2{
                height:auto;
            }
        }   

/*/////////////////////           
            SECTION 3
/////////////////////*/

.section3{
    height:auto;
    display:flex;
    flex-direction: column;
    align-items:center;
}
h2{
    font-family: "Merriweather";
    color:rgb(255,213,61);
    margin-top: 50px;
    font-size: 30px;
}
.section3>span,.section3>p{
    font-family:"Open Sans";
    color:rgb(255,213,61);
    font-weight:600;
    font-size:20px;
}
.section3>p{
    margin-top: 3%;
}
.patio,.interior{
    --gap:16px;
    --num-cols:4;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    display:grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap:var(--gap);
    width:80%;
    margin-bottom: 70px;
}
.patio>img,.interior>img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.image-grid-col-2{
    grid-column: span 2;
}
.image-grid-row-2{
    grid-row: span 2;
}
.image-grid-col-4{
    grid-column: span 3;
}
    @media screen and (max-width: 640px){
        .patio, .interior{
            --num-cols:2;
            --row-height: 250px;
        }
    }


/*//////////////////////
SECTION 4
///////////////////////*/
.section4{
    height:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgb(0, 103, 179);
}
.section4>div{
    font-family: "Open Sans";
    font-size:50px;
    padding-top:10%;
    color:white;
}
    @media screen and (max-width: 550px){
        .section4{
            height:300px;
        }
        .section4>div{
            font-size: 2em;
        }
    }


/*////////////////////////////////////////
SECTION 5   CONTACT US
////////////////////////////////////////*/

.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:400px;
}
.section5>div{
    font-family: "Open Sans";
    font-size: 25px;
    color:white;
    font-weight: 550;
    margin-top:5%;
    padding-top:3%;
    width:80%;
    height:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFD53D;
    text-align: center;
}
.section5>div>div{
    font-weight: 700;
    margin-top:1%
}
@media screen and (max-width: 425px){
    .section5>div{
        padding: 3% 5% 0 5%;
    }
}
@media screen and (max-width: 520px){
    .section5>div{
        font-size: 1.3em;
    }
}

/*//////////////////////
FOOTER
////////////////////////*/


footer{
    display:flex;
    height:140px;
    background:rgb(64,176,233);
}
.firstdiv{
    width:40%;
    margin-top: 2%;
}
.seconddiv{
    width:40%;
    align-self: flex-end;
    padding: 0 0 15px 60px;
    color:white;
    font-family: "Open Sans";
    font-size:12px;
}
.seconddiv>i{
    font-size: 12px;
    color:white;
}
.seconddiv>i:hover{
    color:white;
}
h3{
    font-family: "Merriweather";
    padding:5px 0 0 60px;
    color:white;
}
i{
    font-size: 20px;
    margin: 0 5px;
    color:white;
    margin-top: 1%;
}
i:hover{
    color:rgb(255, 213, 61);
}
footer>div>span{
    padding-left:30%;
}
.footer-list{
    display:flex;
    justify-content: flex-end;
    text-align: right;
    padding-right:40px;
    margin-top: 1%;
}
.footer-list>ul>li{
    list-style-type:none;
    font-family: "Open Sans";
    border-right:rgb(255, 213, 61) solid;
    padding-right:5px;
}
    @media screen and (max-width: 480px){
        .footer{
            height:auto;
            width:auto;
        }
        .firstdiv>span{
            padding:0;
            text-align: center;
            margin-bottom: 30px;
        }
        .firstdiv{
            display:flex;
            flex-direction: column;
            align-items: center;
            font-size:.8em;
        } 
        .firstdiv>span>i{
            font-size: 1.3em;
            margin-top:5px;
        }
        .seconddiv{
            text-align: left;
            font-size: .7em;
            padding:0;
            margin: 0 20px 10px 0;
            width:auto;
        }
        .footer-list{
            font-size: .8em;
            text-align: center;
        }
        .footer-list>ul>li{
            border:none;
        }    
    }
        @media screen and (max-width: 595px){
            .firstdiv{
                font-size: .9em;
            }
        }
        @media  screen and (max-width:340px){
            .firstdiv, .seconddiv, .footer-list{
                font-size: 12px;
            }
        }